<% if movie.present? %>
  <div>
    <%= link_to movie_path(movie["id"]) do %>
      <% if movie_poster_url.present? %>
        <%= image_tag movie_poster_url, class:"movie-poster" %>
      <% else %>
        <%= image_tag "default_media_poster.jpg", class:"movie-poster" %>
      <% end %>
    <% end %>
  </div>

  <div class="movie-details">
    <h2><%= movie_title %></h2>
    <%= render "shared/providers", providers: movie_providers %>
    <div>
      <% if movie_length >= 60 %>
        <p class="text-grey">
          <%= hours %> h
          <%= min < 10 ? "0#{min}" : min %>
        </p>
      <% else %>
        <p class="text-grey"><%= min %> min</p>
      <% end %>
    </div>

    <div class="summary-box">
      <p class="movie-summary"><%= movie_summary %></p>
    </div>


  </div>
<% end %>
