<% if serie.present? %>
  <div>
    <%= link_to serie_path(serie["id"]) do %>
      <% if %>
        <%= image_tag serie_poster_url, class:"media-poster" %>
      <% else %>
        <%= image_tag "default_media_poster.jpg", class:"media-poster" %>
      <% end %>
    <% end %>
  </div>

  <div class="media-details">
    <div>
      <h2><%= serie_title %></h2>
    </div>
    <%= render "shared/providers", providers: serie_providers %>

    <div class="summary-box">
      <p class="media-summary"><%= serie_summary %></p>
    </div>
  </div>
<% end %>
