<% if serie.present? %>
  <div>
    <%= link_to serie_path(serie["id"]) do %>
      <% if %>
        <%= image_tag serie_poster_url, class:"movie-poster" %>
      <% else %>
        <%= image_tag "default_media_poster.jpg", class:"movie-poster" %>
      <% end %>
    <% end %>
  </div>

  <div class="movie-details">

    <div>
      <h2><%= serie_title %></h2>
    </div>
    <%= render "shared/providers", providers: serie_providers %>

    <div class="summary-box">
      <p class="movie-summary"><%= serie_summary %></p>
    </div>

  </div>
<% end %>
