<% if serie.present? %>
  <div>
    <%= link_to serie_path(
      id: serie["id"],
      serie: serie,
      providers: serie_providers,
      categories: serie_categories,
    ) do %>
    <%= image_tag serie_poster_url, class:"movie-poster"%>
    <% end %>
  </div>

  <div class="movie-details">

    <div>
      <h2><%= serie_title %></h2>
    </div>

    <div>
      <p class="text-red"><%= serie_summary.split(".").first %>[...]</p>
    </div>

    <%= render "shared/providers", providers: serie_providers %>
  </div>
<% end %>
