<% if @movie.present? %>
  <h1><%= @movie_title %></h1>
  <%= image_tag @movie_poster_url %>
  <p><%= @movie_summary %></p>
  <p><%= @movie_release_date %></p>
  <p>Réalisateur : <%= @movie_director %></p>
  <p>Catégories :
    <% @movie_categories.each do |category| %>
      "<%= category['name'] %>"
    <% end %>
  </p>

  <% if @movie_length >= 60 %>
    <p>
      <%= @hours %> h
      <%= @min < 10 ? "0#{@min}" : @min %>
    </p>
  <% else %>
    <p><%= @min %> min</p>
  <% end %>

  <% if @movie_providers.present? %>
    <% providers_logos = {
      "Disney Plus" => ["platforms/disney.webp", "Disney Plus Logo"],
      "Netflix" => ["platforms/netflix.webp", "Netflix Logo"],
      "Apple TV+" => ["platforms/appletv.webp", "Apple TV Logo"],
      "Amazon Prime Video" => ["platforms/primevideo.webp", "Prime Video Logo"],
      "Canal+" => ["platforms/canal.webp", "Canal+"],
      "M6+" => ["platforms/m6.webp", "M6+"],
      "Arte" => ["platforms/arte.webp", "Arte"],
      "France TV" => ["platforms/francetv.webp", "France TV"],
      "Max" => ["platforms/max.webp", "Max"],
      "TF1+" => ["platforms/tf1.webp", "TF1+"],
      "Cine+ OCS Amazon Channel" => ["platforms/ocs.webp", "Cine+ OCS Amazon Channel"],
      "Paramount Plus" => ["platforms/paramount.webp", "Paramount Plus"]
    } %>

    <% @movie_providers.each do |provider| %>
      <% logo = providers_logos[provider] %>
      <% if logo %>
        <%= image_tag logo[0], alt: logo[1] %>
      <% end %>
    <% end %>

  <% else %>
    <p>Le film n'est pas disponible en streaming</p>
  <% end %>
<% end %>
