<h1>Film aléatoire</h1>

<% if @movie.present? %>
  <h2><%= @movie_title %></h2>
  <p><%= @movie_summary %></p>


  <% if @movie_length >= 60 %>
    <p>
      <%= @hours %> h <%= @min %>
    </p>
  <% else %>
    <p><%= @min %> min</p>
  <% end %>
<% end %>
