<div id="home-container">
  <div id="monitor-container">
    <div id="monitor">
      <div id="monitor-screen">
        <div class="shutdown-flash"></div>
        <div class="media-container" id="display-media">
        </div>
      </div>
    </div>
  </div>

  <div class="remote-container" data-controller="remote">
    <div id="off-button" data-action="click->remote#togglePower">&#x23FB;</div>

    <div class="remote-media-buttons">
      <div class="remote-button button-rectangle first-rectangle"
        data-action="click->remote#toggleMedia"
        data-media-name="movies">
        Films
      </div>

      <div class="remote-button button-rectangle second-rectangle"
        data-action="click->remote#toggleMedia"
        data-media-name="series">
        Séries
      </div>
    </div>

    <button id="zap-button" data-action="click->remote#zap">
      <span class="back"></span>
      <span class="front">ZAP</span>
    </button>

    <div class="platform-buttons">
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Netflix"
        style="background-image: url('<%= image_path('providers/netflix.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Amazon Prime Video"
        style="background-image: url('<%= image_path('providers/primevideo.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Canal+"
        style="background-image: url('<%= image_path('providers/canalplus.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="TF1+"
        style="background-image: url('<%= image_path('providers/tf1.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Crunchyroll"
        style="background-image: url('<%= image_path('providers/crunchyroll.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Disney Plus"
        style="background-image: url('<%= image_path('providers/disneyplus.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Apple TV+"
        style="background-image: url('<%= image_path('providers/appletv.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Paramount Plus"
        style="background-image: url('<%= image_path('providers/paramount.webp') %>');"></div>
      <div class="remote-button button-square"
        data-action="click->remote#toggleProvider"
        data-provider-name="Max"
        style="background-image: url('<%= image_path('providers/max.webp') %>');"></div>
    </div>
  </div>
</div>
