<h1>Film aléatoire</h1>

<% if @movie.present? %>
  <h2><%= @movie_title %></h2>
  <p><%= @movie_summary %></p>
  <p><%= @movie_release_date %></p>
  <p>Réalisateur : <%= @movie_director %></p>
  <p>Catégories :
    <% @movie_categories.each do |category| %>
      "<%= category['name'] %>"
    <% end %>
  </p>


  <% if @movie_length >= 60 %>
    <p>
      <%= @hours %> h
      <%= @min < 10 ? "0#{@min}" : @min %>
    </p>
  <% else %>
    <p><%= @min %> min</p>
  <% end %>
<% end %>
