<h1><%= params["movie"]["title"] %></h1>
<%= image_tag "https://image.tmdb.org/t/p/w300#{params["movie"]['poster_path']}" %>
<p><%= params["movie"]['overview'] %></p>
<p><%= params["movie"]['release_date'].first(4) %></p>
<p>Réalisateur : <%= image_tag @movie_director_photo_url %> <%= @movie_director %></p>
<p>Acteurs : <%= image_tag "https://image.tmdb.org/t/p/w154#{@movie_actors[0]["profile_path"]}" %> <%= @movie_actors[0]["name"] %>
  <%= image_tag "https://image.tmdb.org/t/p/w154#{@movie_actors[1]["profile_path"]}" %> <%= @movie_actors[1]["name"] %>
  <%= image_tag "https://image.tmdb.org/t/p/w154#{@movie_actors[2]["profile_path"]}" %> <%= @movie_actors[2]["name"] %>
</p>

<p>Catégories :
  <% params["categories"].each do |category| %>
    "<%= category['name'] %>"
  <% end %>
</p>

<% if params["length"].to_i >= 60 %>
  <p>
    <%= params["hours"].to_i %> h
    <%= params["min"].to_i < 10 ? "0#{params["min"].to_i}" : params["min"].to_i %>
  </p>
<% else %>
  <p><%= params["min"].to_i %> min</p>
<% end %>

<div>
  <% if params["provider"].present? %>
    <% providers_logos = {
      "Disney Plus" => ["providers/disneyplus.webp", "Disney Plus", "https://www.disneyplus.com/fr-fr"],
      "Netflix" => ["providers/netflix.webp", "Netflix", "https://www.netflix.com"],
      "Apple TV+" => ["providers/appletv.webp", "Apple TV", "https://tv.apple.com/fr"],
      "Amazon Prime Video" => ["providers/primevideo.webp", "Amazon Prime Video", "https://www.primevideo.com"],
      "Canal+" => ["providers/canalplus.webp", "Canal+", "https://www.canalplus.com/"],
      "HBO Max" => ["providers/max.webp", "HBO Max", "https://www.hbomax.com/fr/fr"],
      "TF1+" => ["providers/tf1.webp", "TF1+", "https://www.tf1.fr"],
      "Paramount Plus" => ["providers/paramount.webp", "Paramount Plus", "https://www.paramountplus.com/fr"],
      "Crunchyroll" => ["providers/crunchyroll.webp", "Crunchyroll", "https://www.crunchyroll.com/fr"]
    } %>

    <% params["provider"].each do |provider| %>
      <% logo = providers_logos[provider] %>
      <% if logo %>
        <%= link_to logo[2], target: "_blank" do %>
          <%= image_tag logo[0], alt: logo[1], class:"movie-provider" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
